<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Online Shopping Scenario">

	
	
	<test name="E2E Flow">
	<classes>
			<class name="com.shopping.qa.testcases.LoginPageTest"></class>
		</classes>
	</test>
	
	<test name="E2E Flow2">
	<classes>			
			<class name="com.shopping.qa.testcases.MyAddressesPageTest"></class>
	</classes>
	</test>		
			<test name="E2E Flow3">
	<classes>
			<class name="com.shopping.qa.testcases.DressCategoryPageTest"></class>
			</classes>
	</test>
		
	
	
</suite>